@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model _01_ViewBag.Models.Entities.clsPersona

<div class="text-center">
    <h1 class="display-4">Ejercicio3</h1>

    @Html.ActionLink("Link Index", "Index", "Home")

    <p>@Model.nombre @Model.apellido</p>
</div>

