<h2>Formulario Reactivo</h2>

<form [formGroup]="formulario">

    <label>Nombre</label><br>
    <input type="text" formControlName="nombre">

  <div *ngIf="formulario.get('nombre')?.invalid && formulario.get('nombre')?.touched">
  </div>
  <br><br>

  <label>Apellidos</label><br>
  <input type="text" formControlName="apellidos">
  <div *ngIf="formulario.get('apellidos')?.invalid && formulario.get('apellidos')?.touched">
  </div>
  <br><br>

  <button type="button" (click)="saludar()">Saludar</button>

</form>