@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Esta pagina es para canguros</h1>
<h2>Si estas aqui eres un canguro</h2>
<button>¿Lo eres?</button>