@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>No veas el hambre que me esta entrando macho</h1>
<ul>
    <li>Filete Empanado</li>
    <li>Lo mismo pero mas guapo</li>
    <li>Uff que hambre otra vez</li>
    <li>Filete empanado 2</li>
</ul>
@Html.ActionLink("Index", "Index", "Filete")
