@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Estoy codificando...</h1>
    <p><a href="https://learn.microsoft.com/aspnet/core">Pagina con mucho copyright</a>.</p>
</div>
