@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Estoy codificando...</h1>
    @Html.ActionLink("Mmmmmmmm, filetesssssssss", "Home", "../Filete/Empanado")
</div>
